/*	Footer social icons 
	from http://codepen.io/JbvGaming/pen/JEpBc
	by www.joevengels.de
*/
/*
html {
	font-size: 2.5em;
}
body {
	background-color: #fff;
	padding: 25px;
	text-align: center;
}
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\0000317}}
.socialicons {
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\0000322}}
.socialicons {
  font-size: 2.5em;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\0000327}}
.socialicons .icon-button {
  background-color: white;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.6rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\0000345}}
.socialicons .icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\0000359}}
.socialicons .icon-button:hover span {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 2.6rem;
  margin: -1.3rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\0000367}}
.socialicons .icon-button i {
  background: none;
  color: white;
  height: 2.6rem;
  left: 0;
  line-height: 2.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 2.6rem;
  z-index: 10;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\0000387}}
.socialicons .icon-button .twitter span {
  background-color: #4099ff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\0000390}}
.socialicons .icon-button .facebook span {
  background-color: #3B5998;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\0000393}}
.socialicons .icon-button .google-plus span {
  background-color: #db5a3c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\0000396}}
.socialicons .icon-button .tumblr span {
  background-color: #34526f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\0000399}}
.socialicons .icon-button .instagram span {
  background-color: #517fa4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\00003102}}
.socialicons .icon-button .youtube span {
  background-color: #bb0000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\00003105}}
.socialicons .icon-button .pinterest span {
  background-color: #cb2027;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\00003111}}
.socialicons .icon-button .icon-twitter {
  color: #4099ff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\00003114}}
.socialicons .icon-button .icon-facebook {
  color: #3B5998;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\00003117}}
.socialicons .icon-button .fa-tumblr {
  color: #34526f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\00003120}}
.socialicons .icon-button .icon-google-plus {
  color: #db5a3c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\00003123}}
.socialicons .icon-button .fa-instagram {
  color: #517fa4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\00003126}}
.socialicons .icon-button .fa-youtube {
  color: #bb0000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\00003129}}
.socialicons .icon-button .fa-pinterest {
  color: #cb2027;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\00003142}}
.socialicons .icon-button:hover .icon-twitter, .socialicons .icon-button:hover .icon-facebook, .socialicons .icon-button:hover .icon-google-plus, .socialicons .icon-button:hover .fa-tumblr, .socialicons .icon-button:hover .fa-instagram, .socialicons .icon-button:hover .fa-youtube, .socialicons .icon-button:hover .fa-pinterest {
  color: white;
}

@media all and (max-width: 680px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\00003152}}
  .socialicons .icon-button {
    border-radius: 1.6rem;
    font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\00003159}}
  .socialicons .icon-button:hover span {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    margin: -0.8rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/all\/themes\/gladfagskole\/scss\/_socialicons\.scss}line{font-family:\00003167}}
  .socialicons .icon-button i {
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }
}
