/* ---------- General Layout ---------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/flex\/themes\/gladflex\/scss\/print\.scss}line{font-family:\000037}}
body,
input,
textarea,
select {
  color: #000;
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/flex\/themes\/gladflex\/scss\/print\.scss}line{font-family:\0000312}}
body.sidebar-right,
body {
  width: 640px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/flex\/themes\/gladflex\/scss\/print\.scss}line{font-family:\0000320}}
#sidebar-right,
.navigation,
#toolbar,
#footer-wrapper,
.tabs,
.add-or-remove-shortcuts {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/flex\/themes\/gladflex\/scss\/print\.scss}line{font-family:\0000323}}
#content {
  width: 100%;
}

/* ---------- Node Pages ---------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ryan\/Sites\/gladfagskole\.dev\/sites\/flex\/themes\/gladflex\/scss\/print\.scss}line{font-family:\0000331}}
#comments .title,
#comments form,
.comment_forbidden {
  display: none;
}
