
/* ------------------- Overall Specifications ------------- */

body {
	//line-height: 1.5;
	//font-size: 87.5%;
	
	font-size: 100%;
	font-size: .83em; //16px;
	line-height: 1.5em; //26px;
		
	word-wrap: break-word;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	
	//font-family: Verdana, 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-serif;
	//font-family: "Verdana Pro Light", Verdana, Geneva, sans-serif;
	font-family: Verdana, Geneva, sans-serif;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover,
a:active,
a:focus {
	text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1.0em 0 0.5em;
	//font-weight: inherit;
	font-weight: bold;
}
h1 {
	//font-size: 1.357em;
	//color: #000;
	font-size: 2em;
	letter-spacing: -.05em;
	//text-transform: uppercase;
}
h2 {
	font-size: 1.143em;
	text-transform: uppercase;
}
p {
	margin: 0 0 1.2em;
}



/* ------------------- Fonts ------------------------------ */

/*
body,
#site-slogan,
.ui-widget,
.comment-form label {
	//font-family: Verdana, 'Trebuchet MS'', Helvetica Neue', Arial, Sans-serif;
}
#header,
#footer-wrapper,
#skip-link,
ul.contextual-links,
ul.links,
ul.primary,
.item-list .pager,
div.field-type-taxonomy-term-reference,
div.messages,
div.meta,
p.comment-time,
table,
.breadcrumb {
	//font-family: Verdana, 'Trebuchet MS'', Helvetica Neue', Arial, Sans-serif;
}
input,
textarea,
select,
a.button {
	//font-family: Verdana, 'Trebuchet MS'', Helvetica Neue', Arial, Sans-serif;
}
*/

/* ------------------- List Styles ------------------------ */

.block ol,
.block ul {
	margin: 0;
	padding: 0 0 0.25em 1em; /* LTR */
}
.contextual-region .contextual .contextual-links a {
	font-size: 0.923em;
	text-shadow: 0 0 0 !important;
}
.item-list .pager {
	font-size: 0.929em;
}
.item-list .pager li {
	padding: 0;
}
.item-list .pager a {
	display: inline-block;
	padding: 10px 15px;
}
.item-list .pager .pager-first a {
	padding: 10px 10px 10px 0;
}
.item-list .pager .pager-previous a {
	padding: 10px 0;
}
.item-list .pager .pager-current {
	padding: 0 10px;
}
.item-list .pager .pager-next a,
.item-list .pager .pager-last a {
	padding: 10px 0 10px 10px;
}
ul.menu li {
	margin: 12px 0;
}

ul.menu li a {
	padding: 10px 0;
}

.region-content {
	ul, ol {
		list-style-position: outside;
		margin: 1em 0;
		padding: 0 0 0.25em 1em; // LTR
		li {
			list-style-position: outside;
			margin-left: 1em;
		}
	}
}
.item-list ul li {
	margin: 0;
	padding: 0.2em 0.5em 0 0; // LTR
}
ul.tips {
	padding: 0 0 0 1.25em; // LTR
}

/* ------------------- Header ----------------------------- */

#page-wrapper {
	#header {				
		#logo_wrapper {
			#logo {}
			#logo_subtitle a {
				//color: $text-color;
				color: #1D1D1B;
				font-size: .95em;
				line-height: 1em;
				margin-left: .1em; /* Visual left alignment */
				text-decoration: none;
				text-transform: uppercase;
				font-weight: bold;
				float: left;
				clear: left;
			}
		}
		#banner {}
	}
}

/* ------------------- Secondary Menu --------------------- */

#secondary-menu-links {
	float: left; /* LTR */
	font-size: 0.929em;
	margin: 0 0 2em 0;
}
#secondary-menu-links li{
	margin: 0;
	padding: 0;
}
#secondary-menu-links a {
	display: inline-block;
	padding-right:	0.8em;
}
#secondary-menu-links a:hover,
#secondary-menu-links a:focus {
	text-decoration: underline;
}

/* ------------------- Main ------------------------------- */

#main {
	margin-top: 1.25em;
	margin-bottom: 2.5em;
}

/* ------------------- Featured --------------------------- */

#featured {
	//overflow: hidden;
	//.content { min-height: 320px; } // For slideshow
}

/* ------------------- Highlighted ------------------------ */

#highlighted {
	border-bottom: 1px solid #d3d7d9;
	font-size: 120%;
}

/* ------------------- Help ------------------------------- */

.region-help {
	border: 1px solid #d3d7d9;
	padding: 0 1.5em;
	margin-bottom: 1.9em;
}

/* ------------------- Content ---------------------------- */

.content {
	margin-top: .6em;
}
h1#page-title {
	text-transform: uppercase;
	font-size: 2.1em;
	line-height: 1;
	border-bottom: 1px solid #d3d7d9;
	padding-bottom: .5em;
}
#content h2 {
	margin-bottom: .3em;
	font-size: 1.6em;
	line-height: 1.4;
}
#content h2 a:link {
	padding-top: 1.1em;
	text-decoration: none;

}

.node .content {
	//font-size: 1.071em;
}
.node-teaser .content {
	//font-size: 1em;
	
	.field-type-image {}
}
.node-teaser h2 {
	margin-top: 0;
	padding-top: 0.5em;
}
.node-teaser h2 a {
	//color: #181818;
	color: inherit;
}
.node-teaser {
	border-bottom: 1px solid #d3d7d9;
	margin-bottom: 1.9em;
	padding-bottom: .9em;
}
.node-sticky {
	/*
	border: 1px solid #d3d7d9;
	padding: 2% 3% 2% 3.8%;
	*/
}
.node-full {
	background: none;
	border: none;
	padding: 0;
}
.node-teaser .content {
	clear: none;
	//line-height: 1.6em;
}

.meta {
	font-size: 0.857em;
	color: #68696b;
	margin-bottom: 0;
}
.submitted a {
	padding: .6em 0 .9em 0;
}
.submitted .user-picture img {
	float: left; /* LTR */
	height: 20px;
	margin: 1px 5px 0 0; /* LTR */
}

.link-wrapper {
	text-align: right;
}
.field-type-image img,
.user-picture img {
	margin: 0 0 1em;
}

ul.links {
	//color: #68696b;
	//font-size: 0.821em;
}
ul.links.inline li a {
	display: inline;
	//padding: 18px 0 5px;
}

.unpublished {
	margin: -20px -15px 0;
	padding: 20px 15px 0;
}
.unpublished .comment-text .comment-arrow {
	border-left: 1px solid #fff4f4;
	border-right: 1px solid #fff4f4;
}


/* ------------------- Sidebar ---------------------------- */

.sidebar {
	.section {
		padding-top: 1.4em;
		
		.block { margin: 0 0 2em 0; }
		
		h2 {}
		ul.uddannelser_list, 
		ul.faglinjer_childterms, 
		ul.uddannelser_childterms {
			list-style: none;
			margin: 0 0 3em 0;
			padding: 0;
			
			li {
				list-style-type: none;
				display: block;
				
				padding: .1em 0 .2em 0;
				padding-left: 0;
				border-bottom: 1px solid #e5e5e5;
				color: #333;
				
				//&:first-child { border-top: 1px solid #e5e5e5; }
				
				a, a:hover { text-decoration: none; }
				a {
					display: block;
					width: 100%;
					color: inherit;
					
					padding: .1em 0 .1em 0;
					//padding-left: 0;
					//border-bottom: 1px solid #e5e5e5;
					//transition : border 200ms ease-out; 
					//-webkit-transition : border 200ms ease-out; 
					//-moz-transition : border 200ms ease-out;
					//-o-transition : border 200ms ease-out;
				}
				a:hover {
					color: #f78f1e;
					//border-bottom: 1px solid #0071B3;
				}
			}
		}
	}
}
.sidebar .block {
	/*
	border: 1px solid;
	padding: 15px 20px;
	margin: 0 0 20px;
	*/
}
.sidebar h2 {
	/*
	margin: 0 0 0.5em;
	border-bottom: 1px solid #d6d6d6;
	padding-bottom: 5px;
	text-shadow: 0 1px 0 #fff;
	font-size: 1.071em;
	line-height: 1.2;
	*/
}
.sidebar .block .content {
	/*
	font-size: 0.914em;
	line-height: 1.4;
	*/
}
.sidebar tbody {
	border: none;
}
.sidebar tr.even,
.sidebar tr.odd {
	background: none;
	border-bottom: 1px solid #d6d6d6;
}

/* ------------------- Footer ----------------------------- */


#footer-wrapper {
	color: #c0c0c0;
	color: rgba(255, 255, 255, 0.65);
	font-size: 0.857em;
}
#footer-wrapper a {
	color: #fcfcfc;
	color: rgba(255, 255, 255, 0.8);
}
#footer-wrapper a:hover,
#footer-wrapper a:focus {
	color: #fefefe;
	color: rgba(255, 255, 255, 0.95);
	text-decoration: underline;
}

#footer-wrapper .block {
	margin: 1.25em 0;
	border: 1px solid #444;
	border-color: rgba(255, 255, 255, 0.1);
	padding: .6em;
}
.block-menu,
#footer .block {
	margin: 0;
	padding: 0;
	border: none;
}
#footer .block {
	margin: 0.5em 0;
}
#footer .block .content {
	padding: 0.5em 0;
	margin-top: 0;
}
#footer .block h2 {
	margin: 0;
}
#footer {
	letter-spacing: 0.2px;
	margin-top: 1.9em;
	border-top: 1px solid #555;
	border-color: rgba(255, 255, 255, 0.15);
}
#footer .region {
	margin-top: 1.25em;
}
#footer .block {
	clear: both;
}
#footer ul,
#footer li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#footer li a {
	float: left; /* LTR */
	padding: 0 .75em;
	display: block;
	border-right: 1px solid #555; /* LTR */
	border-color: rgba(255, 255, 255, 0.15);
}
#footer li.first a {
	padding-left: 0; /* LTR */
}
#footer li.last a {
	padding-right: 0; /* LTR */
	border-right: none; /* LTR */
}
#footer-wrapper tr.odd {
	background-color: transparent;
}
#footer-wrapper tr.even {
	background-color: #2c2c2c;
	background-color: rgba(0, 0, 0, 0.15);
}

/* ------------------- Buttons ---------------------------- */

input.form-submit,
a.button {
	background: #fff url(../img/buttons.png) 0 0 repeat-x;
	border: 1px solid #e4e4e4;
	border-bottom: 1px solid #b4b4b4;
	border-left-color: #d2d2d2;
	border-right-color: #d2d2d2;
	color: #3a3a3a;
	cursor: pointer;
	font-size: 0.929em;
	font-weight: normal;
	text-align: center;
	margin-bottom: 1em;
	margin-right: 0.6em; /* LTR */
	padding: 4px 17px;
	border-radius: 15px;
}
a.button:link,
a.button:visited,
a.button:hover,
a.button:focus,
a.button:active {
	text-decoration: none;
	color: #5a5a5a;
}

/* ------------------- Icons ---------------------------- */

img.file-icon {
	padding-right: .4em;
	margin-bottom: 3px;
	vertical-align: middle;
}

/* ------------------- Table ---------------------------- */

table {
	border-collapse: collapse;
	width: auto;
	
	thead {}
	tbody {}
	tr {
		td {
			width: auto;
			vertical-align: top;
			text-align: left;
			border: 1px solid #BEBFB9;
			
			&.blue1	{ background-color: #DBE5F1; }
			&.blue2	{ background-color: #B8CCE4; }
			&.blue3	{ background-color: #95B3D7; }
			&.blue4	{ background-color: #365F91; }
			&.red	{ background-color: #C0504D; }
		}
	}
}