
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
	color: $text-color;
}
.comment .comment-arrow {
	border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
	background: #ffffff;
}
.tabs ul.primary li a.active {
	background-color: #ffffff;
}
.tabs ul.primary li.active a {
	background-color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

a {
	color: #0071B3;
}
a:hover,
a:focus {
	color: #018fe2;
}
a:active {
	color: #23aeff;
}
.sidebar .block {
	/*
	background-color: #f6f6f2;
	border-color: #f9f9f9;
	*/
}
#page-wrapper,
#footer-wrapper {}

#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
	//color: #fffeff;
}
