/* ------------------- Comments --------------------------- */

.comment h2.title {
	margin-bottom: 1em;
}
.comment div.user-picture img {
	margin-left: 0; /* LTR */
}
.comment {
	margin-bottom: 20px;
	display: table;
	vertical-align: top;
}
.comment .attribution {
	display: table-cell;
	padding: 0 30px 0 0; /* LTR */
	vertical-align: top;
	overflow: hidden;
}
.comment .attribution img {
	margin: 0;
	border: 1px solid #d3d7d9;
}
.comment .attribution .username {
	white-space: nowrap;
}
.comment .submitted p {
	margin: 4px 0;
	font-size: 1.071em;
	line-height: 1.2;
}
.comment .submitted .comment-time {
	font-size: 0.786em;
	color: #68696b;
}
.comment .submitted .comment-permalink {
	font-size: 0.786em;
	text-transform: lowercase;
}
.comment .submitted .comment-permalink a {
	padding: 8px 0 18px;
}
.comment .content {
	font-size: 0.929em;
	line-height: 1.6;
}
.comment .comment-arrow {
	background: url(../img/comment-arrow.gif) no-repeat 0 center transparent; /* LTR */
	border-left: 1px solid;
	border-right: 1px solid;
	height: 40px;
	margin-left: -47px; /* LTR */
	margin-top: 10px;
	position: absolute;
	width: 20px;
}
.comment .comment-text {
	padding: 10px 25px;
	border: 1px solid #d3d7d9;
	display: table-cell;
	vertical-align: top;
	position: relative;
	width: 100%;
}
.comment .comment-text h3	a{
	padding-top: 22px;
}
.comment .indented {
	margin-left: 40px; /* LTR */
}
.comment ul.links {
	padding: 0 0 0.25em 0;
}
.comment ul.links li {
	padding: 0 0.5em 0 0; /* LTR */
}
.comment.unpublished {
	margin-right: 5px; /* LTR */
	padding: 5px 2px 5px 5px; /* LTR */
}
.comment.unpublished .comment-text .comment-arrow {
	border-left: 1px solid #fff4f4;
	border-right: 1px solid #fff4f4;
}

/* ------------------- Comment Form ----------------------- */
.comment-form label {
	float: left; /* LTR */
	font-size: 0.929em;
	width: 120px;
}
.comment-form input,
.comment-form .form-select {
	margin: 0;
	border-radius: 4px;
}
.comment-form .form-type-textarea label {
	float: none;
}
.comment-form .form-item,
.comment-form .form-radios,
.comment-form .form-type-checkbox,
.comment-form .form-select {
	margin-bottom: 10px;
	overflow: hidden;
}
.comment-form .form-type-checkbox,
.comment-form .form-radios {
	margin-left: 120px; /* LTR */
}
.comment-form .form-type-checkbox label,
.comment-form .form-radios label {
	float: none;
	margin-top: 0;
}
.comment-form input.form-file {
	width: auto;
}
.comment-form .form-text {
	width: 500px;
}
.comment-form .form-item .description {
	font-size: 0.786em;
	line-height: 1.2;
	margin-left: 120px; /* LTR */
}
#content h2.comment-form {
	margin-bottom: 0.5em;
}
.comment-form .form-textarea {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.comment-form fieldset.filter-wrapper .fieldset-wrapper,
.comment-form .text-format-wrapper .form-item {
	margin-top: 0;
	margin-bottom: 0;
}
.filter-wrapper label {
	width: auto;
	float: none;
}
.filter-wrapper .form-select {
	min-width: 120px;
}
.comment-form fieldset.filter-wrapper .tips {
	font-size: 0.786em;
}
#comment-body-add-more-wrapper .form-type-textarea label {
	margin-bottom: 0.4em;
}
#edit-actions input {
	margin-right: 0.6em; /* LTR */
}