/* ------------------- Form Elements ---------------------- */

fieldset {
	background: #ffffff;
	border: 1px solid #cccccc;
	margin-top: 10px;
	margin-bottom: 32px;
	padding: 0 0 10px;
	position: relative;
	top: 12px; /* Offsets the negative margin of legends */
	border-radius: 4px;
}
.fieldset-wrapper {
	margin-top: 25px;
}
.node-form .vertical-tabs .fieldset-wrapper {
	margin-top: 0;
}
.filter-wrapper {
	top: 0;
	padding: 1em 0 0.2em;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.filter-help a {
	font-size: 0.857em;
	padding: 2px 20px 0;
}
.filter-wrapper .form-item label {
	margin-right: 10px;
}
.filter-wrapper .form-item {
	padding: 0 0 0.5em 0.5em;
}
.filter-guidelines {
	padding: 0 1.5em 0 0.5em;
}
fieldset.collapsed {
	background: transparent;
	border-radius: 0;
}
fieldset legend {
	background: #dbdbdb;
	border: 1px solid #ccc;
	border-bottom: none;
	color: #3b3b3b;
	display: block;
	height: 2em;
	left: -1px; /* LTR */
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	line-height: 2;
	padding: 0;
	position: absolute;
	text-indent: 10px;
	text-shadow: 0 1px 0 #fff;
	top: -12px;
	width: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
fieldset.collapsed legend {
	border-radius: 4px;
}
fieldset legend a {
	color: #3b3b3b;
}
fieldset legend a:hover,
fieldset legend a:focus,
fieldset legend a:active {
	color: #000;
}
fieldset .fieldset-wrapper {
	padding: 0 10px;
}
fieldset .fieldset-description {
	margin-top: 5px;
	margin-bottom: 1em;
	line-height: 1.4;
	color: #3c3c3c;
	font-style: italic;
}
input {
	margin: 2px 0;
	padding: 4px;
}
input,
textarea {
	font-size: 0.929em;
}
textarea {
	line-height: 1.5;
}
textarea.form-textarea,
select.form-select {
	padding: 4px;
}
input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-number,
input.form-color,
textarea.form-textarea,
select.form-select {
	border: 1px solid #ccc;
}
input.form-submit:hover,
input.form-submit:focus {
	background: #dedede;
}
.password-suggestions ul li {
	margin-left: 1.2em; /* LTR */
}
.form-item {
	margin-bottom: 1em;
	margin-top: 2px;
}
.form-item label {
	font-size: 0.929em;
}
.form-type-radio label,
.form-type-checkbox label {
	margin-left: 4px;
}
.form-type-radio .description,
.form-type-checkbox .description {
	margin-left: 2px;
}
.form-actions {
	padding-top: 10px;
}
/* Contact Form */
.contact-form #edit-name {
	width: 75%;
	border-radius: 4px;
}
.contact-form #edit-mail {
	width: 75%;
	border-radius: 4px;
}
.contact-form #edit-subject {
	width: 75%;
	border-radius: 4px;
}
.contact-form #edit-message {
	width: 76.3%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

/* ------------------- Disabled Form Elements ------------- */
input.form-button-disabled,
input.form-button-disabled:hover,
input.form-button-disabled:focus,
input.form-button-disabled:active,
.form-disabled input,
.form-disabled select,
.form-disabled textarea {
	background: #ededed;
	border-color: #bbb;
	color: #717171;
}
.form-disabled label {
	color: #717171;
}

/* ------------------- Animated Throbber ------------------ */
.js input.form-autocomplete {
	background-position: 100% 4px; /* LTR */
}
.js input.throbbing {
	background-position: 100% -16px; /* LTR */
}