/* Override properties for #gladsharedtopbar */

#gladsharedtopbar {
	#gladsharedtopbarinner {
		margin: 0 auto !important;
		max-width: 941px !important;
		//background-color: red !important;
	}
}


@media screen and (min-width: 768px) {
	#gladsharedtopbar {
		#gladsharedtopbarinner {
			width: 96% !important;
			max-width: 941px !important;
			}
		//a { padding-left: 0 !important; }
	}
}