/* Kontakt */

.content {
	.node-kontakt {
		.field-collection-view {
			margin: 0;
			.field-collection-item-field-kontaktperson {
				.content {
					section.kontaktperson {
						// Clearfix
					
						.field-name-field-image, 
						.field-name-field-navn, 
						.field-name-field-titel, 
						.field-name-field-email, 
						.field-name-field-telefon {
							//position: relative;
						}
					
						.field-name-field-image {
							float: left;
							clear: left;
							padding-right: 1.8em;
							img {}
						}
					
						.field-name-field-navn {
							padding-top: .3em;
							font-size: 1.143em; // Like h2
							font-weight: bold;
							text-transform: uppercase;
						}
					
						.field-name-field-titel {
							font-weight: bold;
						}
					
						.field-name-field-email {}
					
						.field-name-field-telefon {}
					
					}
				
				}
			}
		
		}
	}
}

.content {
	.node-kontakt {
		section.extra-addressinfo {
			.field-items {
				// Google Maps iframe
				iframe { max-width: 100% !important; }
			}
		}
	}
}