
/* ------------------- Basic Layout Styles ---------------- */

html,
body,
#page	{
	height: 100%;
}
#page-wrapper {
	min-height: 100%;
	
	#header, 
	//#main-menu, 
	#messages, 
	#featured, 
	#main-wrapper, 
	#footer {
		margin: 0 auto;
		width: 92%;
		@media all and (min-width: 640px) {
			width: 96%;
		}
		max-width: 941px;
	}
	#footer-wrapper {
		margin: 0;
		width: 100%;
	}
}

#page-wrapper {
	#header {
		position: relative;
		width: 100%;
		padding-left: 4%;
		padding-right: 4%;
		padding-top: 15px;
		margin-bottom: 13px;
		
		//background-color: #E7E7E7;
		-webkit-box-shadow: inset 0px 10px 10px -8px rgba(77,78,79,1);
		-moz-box-shadow: inset 0px 10px 10px -8px rgba(77,78,79,1);
		box-shadow: inset 0px 10px 10px -8px rgba(77,78,79,1);
		
		@media all and (min-width: 640px) {
			width: 96%;
			padding-left: 0;
			padding-right: 0;
			background-color: transparent;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
		
		#logo_wrapper {
			float: left;
			width: 19.66%;
			min-width: 121px;
			
			#logo {
				display: block;
				float: left;
				clear: left;
				margin-bottom: 4px;
				img {
					width: 100%;
					height: auto;
				}
			}
			#logo_subtitle a {
				letter-spacing: -.03em;
				float: left;
				clear: left;
				//display: none;
				@media all and (min-width: 640px) {
					display: block;
				}
			}
		}
		#banner {
			// Default
			display: block;
			float: left;
			//width: 76.62%;
			width: 78.00%;
			//padding-left: 3.72%;
			margin-left: 2.34%;
			padding-top: 5px;
			img {
				width: 100%;
				height: auto;
			}
			
			// Mobile
			display: none;
			/*
			float: left;
			clear: both;
			width: 100%;
			margin-top: 1em;
			*/
			
			@media all and (min-width: 640px) {
				// Larger
				display: block;
				/*
				float: right;
				clear: right;
				width: auto;
				margin-top: 4px;
				*/
			}
		}
	}
}

#header div.section,
#featured div.section,
#messages div.section,
#main,
#footer {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#header div.section {
	position: relative;
}
#secondary-menu {
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
}
#main-wrapper {
	min-height: 300px;
}
#content .section,
.sidebar .section {
	//padding: 0 15px;
}
#breadcrumb {
	//margin: 0 15px;
}

/****** Date on Aktuelt ******/
.post_date_medium { display: none; }
.post_date_gfx { display: none; }

body.page-aktuelt .is_aktuelt, 
.page-node .is_aktuelt {
	// dev
	/*
	div { outline: 1px dotted red; }
	span { outline: 1px dotted blue; }
	h5 { outline: 1px dotted green; }
	*/
	
	//&* { vertical-align: top; }

	.post_date_medium { display: none; }
	.post_date_gfx {
		$postdategfxHeight: 19px;
		$postdategfxSpacing: 6px;
		
		position: relative;
		display: inline-block;
		//float: left;
		//clear: left;
		margin: 0 $postdategfxSpacing/2 0 0;
		padding: 0;
	
		//color: #d3d7d9;
		//color: #343434;
		color: #6D6D6D;
		border-color: #d3d7d9;
	
		span { position: relative; }

		span.day {
			//font-size: 20px;
			font-size: 1.6em;
			letter-spacing: -2px;
			font-weight: bold;
	
			display: block;
			float: left;
			//clear: right;
			height: $postdategfxHeight;
	
			margin: 0;
			padding: 0;
			//border-right: 1px solid;
		}
		span.month_year {
			display: block;
			float: left;
			//clear: right;
			height: $postdategfxHeight - 2px;
			
			margin: 2px 0 0 $postdategfxSpacing;
			padding: 0 $postdategfxSpacing 0 $postdategfxSpacing;
			border-left: 1px solid;
			border-right: 1px solid;
		
			span.month {
				font-size: 10px;
				//letter-spacing: 0;
				font-weight: bold;
				text-transform: uppercase;
		
				display: block;
				float: none;
				//clear: right;
				height: 10px;
				margin: -5px 0 0 0;
				padding: 0 0 2px 0;
				border: none;
			}
			span.year {
				font-size: 7px;
				//letter-spacing: 0;
				font-weight: bold;
		
				display: block;
				float: none;
				clear: right;
				height: 7px;
		
				margin: 0;
				padding: 0;
				border: none;
			}
		}
	}
	
	h2 {
		display: inline-block;
		margin-top: 0;
		padding-top: 0;
		a:link {
			margin-top: 0;
			padding-top: 0;
		}
	}

}

.node-teaser .content {
	//position: relative;
	
	div, p, ul {
		// Auto width fix
		//float: left;
		//display: inline-block;
	}
	
	.field-type-image {
		//position: relative;
		//margin-right: 1.7em;
		//float: left;
		//display: inline-block;
		float: none;
		clear: both;
		//width: auto;
		margin-right: 0;
		
		@media all and (min-width: 560px) {
			margin-right: 1.7em;
			float: left;
			clear: left;
		}
	}
	
	.field-type-text-with-summary {
		//position: relative;
		//display: inline-block;
		//max-width: 50%;
		//float: left;
		
		* {
			//float: left;
			//clear: left;
			//width: auto;
			
			//width: intrinsic;
			//display: inline-block;
		}
	}
}


.node-gallery {
	.field-name-field-gallery-image {
		float: left;
		clear: both;
	}
	.field-name-field-gallery-image-item {
		float: left;
		clear: both;
		.field-item {
			float: left;
			clear: none;
			&.even { margin: 0 10px 10px 0; }
			&.odd { margin: 0 0 10px 0; }
			img { margin: 0; }
		}
	}
}


#sidebar-right {
	width: 100%;
	margin-left: 0;
}

#footer-wrapper {
	border-top: 1px solid #d3d7d9;
	//padding: 2.5em 0 2em 0;
	padding: .5em 0 1em 0;
}
#footer-wrapper .section {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	//padding: 0 15px;
}



@media all and (min-width: 768px) {

	#header div.section,
	#featured div.section,
	#messages div.section,
	#main,
	#footer {}
	#content,
	#sidebar-right {
		display: inline;
		float: left;
		position: relative;
	}
	#content {
		width: 68%;
		margin-right: 3%;
	}
	.sidebar-right #content {
		//margin-right: 25%; /* LTR */
		//margin-left: 0; /* LTR */
	}
	#sidebar-right {
		width: 26%;
		margin-left: 3%;
		//margin-left: -25%; /* LTR */
		clear: none;
	}
}
