/* ------------------- Navigation -------------------------- */

/* --------- Reset style from system.menus.css ------------- */

#mainnav .content {
	ul.menu li {
		margin: 0;
	}
	ul li.expanded {
		list-style-image: none;
		list-style-type: none;
	}
	ul li.collapsed {
		list-style-image: none;
		list-style-type: none;
	}
	ul li.leaf {
		list-style-image: none;
		list-style-type: none;
	}
	li.expanded,
	li.collapsed,
	li.leaf {
		padding: 0;
		margin: 0;
	}
	li a.active {
		color: inherit;
	}
	td.menu-disabled {
		background: inherit;
	}
}

/**************************************************************/

#mainnav {
	//-webkit-font-smoothing: antialiased;
	//text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

#mainnav {
	//width: 721px; // Same as banner
	width: 78.00%; // Same as banner
	float: right;
	clear: right;
	margin-top: 0;
		
	position: relative;
	z-index: 4;	
}

#mainnav .content {
	margin-top: 1px;
	margin-left: -18px;
	@media all and (max-width: 780px) {
		margin-left: -10px;
	}
}

#mainnav > div > div h2 {
	// Hide title
	display: none;
}

#mainnav .content > ul > li {
	width: auto;
	display: inline-block;
	//float: left;
	//border: 1px solid #d3d7d9;
	margin-left: -1px;
	a {
		color: #1D1D1B;
		font-size: .95em;
		line-height: 1em;
		font-weight: bold;
		
		border: 1px solid transparent;
	}
}

#mainnav .content > ul ul {
	border: 1px solid #e9e9e9;
}

#mainnav .content > ul ul li {
	//border: 1px solid #d3d7d9;
	//border-bottom: 1px solid #e9e9e9; // Lighter
	//border: 1px solid transparent;
	//border: none;
}

#mainnav .content > ul > li li a {
	color: #1D1D1B;
	//font-size: .85em;
	font-size: 12px;
	line-height: 1em;
	font-weight: normal;
}

#mainnav, 
#mainnav {
	ul, li, span, a {
	margin: 0;
	padding: 0;
	position: relative;
	border: 0;
	line-height: 1;
	box-sizing: content-box;
	}
}

#mainnav .content {
	
	//height: 49px;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	background: #fff;
	//border-bottom: 2px solid #ededed;
	width: auto;
	
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	ul:after {
		content: '';
		display: block;
		clear: both;
	}
	
	a {
		//background: #fefefe;

		color: #000;
		display: inline-block;
		//font-family: Helvetica, Arial, Verdana, sans-serif;
		//font-size: 12px;
		//line-height: 49px;
		//line-height: 49px;
		//padding: 0 17px;
		padding: 7px 17px;
		@media all and (max-width: 780px) {
			padding: 4px 9px;
		}
		
		text-decoration: none;
		white-space: nowrap;
	}
	ul {
		list-style: none;
		//width: auto;
		//display: inline-table;
		margin: 0;
		padding: 0;
	}
		
	&> ul {
		float: left;
	}
	&> ul > li {
		float: left;
	}
	&> ul > li > a {
		color: #000;
		//font-size: 12px;
	}
	
	&> ul li.expanded ul {
		//border: 1px solid #e0e0e0;
		//border: none;
		border: 1px solid #d3d7d9;
		//background-color: #fff !important;
		//white-space: nowrap;
		-webkit-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);
	}
	
	&> ul > li.expanded > a:after {
		content: "\25be"; // Down arrow
		font-size: 110%;
		margin-left: 6px;
		vertical-align: top;
	}
	
	/*
	// Arrow
	div > ul > li:hover:after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		left: 50%;
		bottom: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #ededed;
		margin-left: -10px;
	}
	div > ul > li:first-child > a {
		border-radius: 5px 0 0 0;
		-moz-border-radius: 5px 0 0 0;
		-webkit-border-radius: 5px 0 0 0;
	}
	div > ul > li.active:after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		left: 50%;
		bottom: 0;
		// Arrow
		//border-left: 10px solid transparent;
		//border-right: 10px solid transparent;
		//border-bottom: 10px solid #ededed;
		//margin-left: -10px;
	}
	*/
	&> ul > li.active > a {
		//-moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
		//-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
		//box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
		//background: #ededed;
	}
	&> ul > li:hover > a {
		background: transparent;
		//-moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
		//-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
		//box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
		
		//border: 1px solid #d3d7d9;
		color: #004260;
	}
	
	.expanded {
		z-index: 1;
	}
	.expanded:hover > ul {
		display: block;
	}
	.expanded ul {
		display: none;
		position: absolute;
		width: 200px;
		top: 100%;
		left: 0;
	}
	.expanded ul li {
		//margin-top: -1px;
	}
	.expanded ul li a {
		//background: #f8f8f8;
		background: #fff;
		//border-bottom: 1px dotted #d3d7d9;
		filter: none;
		//font-size: 11px;
		display: block;
		//line-height: 120%;
		padding: 10px 10px 10px 15px;
		//color: #000;
	}
	.expanded ul li:hover a {
		background: #ededed;
	}
	.expanded .expanded:hover > ul {
		display: block;
	}
	.expanded .expanded ul {
		display: none;
		position: absolute;
		left: 100%;
		top: 0;
	}
	/*
	.expanded ul li.expanded:after {
		// Arrow
		position: absolute;
		right: 3%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		
		//pointer-events: none;
		border-color: rgba(179, 179, 179, 0);
		border-left-color: #b3b3b3;
		border-width: 5px;
		margin-top: -5px;
	}*/
	.expanded ul li.expanded > a:after {
		content: '\25BA'; // Right arrow
		//content: "\25be"; // Down arrow
		color: #004260;
		//color: rgba(179, 179, 179, 0);
		font-size: 75%;
		float: right;
		margin: 1px 2px 0 0;
		vertical-align: middle;
	}
		
	.expanded .expanded ul li a {
		//background: #f8f8f8;
		background: #fff;
		//border-bottom: 1px dotted #d3d7d9;
	}
	.expanded .expanded ul li a:hover {
		background: #e6e6e6;
	}
	
}


/* ------------------- Media Queries ---------------------- */

// DEV
#page-wrapper #header #mainnav { display: block; }

@media all and (max-width: 640px) {
	/* ------------ When banner won't fit inline ---------- */
	#page-wrapper {
		#header {
			//margin-top: 15px;
			//margin-bottom: 13px;
			
			#logo_wrapper {
				#logo {}
			}
			#banner {}
			#mainnav {
				//display: none;
				width: auto;
				float: left;
				clear: both;
				//font-size: 1.1em;
				margin-top: .5em;
				margin-bottom: .2em;
				
				/*
				#main-menu-links {
					li {
						margin-right: 2em;
						margin-bottom: .8em;
					}
				}
				*/
			}
		}
	}
}
