/* ------------------- Main Menu -------------------------- */
#main-menu {
	width: 721px; // Same as banner
	float: right;
	clear: right;
	//clear: both;
	//background-color: gray;
	margin-top: 6px;
	
	font-size: 1.01em;
	line-height: 1em;
	
	#main-menu-links {
		//font-size: 0.929em;
		//margin: 0 5px;
		margin: 0;
		padding: 0;
		//text-align: left;
		
		li {
			list-style: none;

			float: left;
			width: auto;
			margin-right: 3em;
			margin-bottom: 0;
			padding: 0;
			
			&.last {
				margin-right: 0 !important;
			}
			
			a {
				color: #000;
				//background: #ccc;
				//background: rgba(255, 255, 255, 0.7);
				//float: none;
				display: block;
				white-space: nowrap;
				text-decoration: none;
				//text-shadow: 0 1px #eee;
				//border-radius: 8px;
				//margin-bottom: 4px;
				//padding: 0.9em 0 0.9em 10px;
			}
			a:hover,
			a:focus {
				/*
				background: #f6f6f2;
				background: rgba(255, 255, 255, 0.95);
				*/
			}
			a:active {
				/*
				background: #b3b3b3;
				background: rgba(255, 255, 255, 1);
				*/
			}
			a.active {
				border-bottom: none;
			}
		}
	}
}




/* ------------------- Menu Toggle Link ------------------- */
/*
a#menu-toggle {
	display:none;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
	padding: 0.7em 0 0.7em 10px;
	text-decoration: none;
	text-shadow: 0 1px #EEEEEE;
	position:relative;
}

a#menu-toggle:after {
	content:"";
	background: url('../img/toggle.png') no-repeat;
	width: 22px;
	height: 30px;
	display: inline-block;
	position: absolute;
	right: 10px;
}
*/

/* ------------------- Media Queries ---------------------- */

@media all and (max-width: 955px) {
	/* ------------ When banner won't fit inline ---------- */
	#page-wrapper {
		#header {
			//margin-top: 15px;
			//margin-bottom: 13px;
			
			#logo_wrapper {
				#logo {
					margin-bottom: 4px;
				}
			}
			#banner {
				float: left;
				clear: both;
				width: 100%;
				margin-top: 1em;
			}
			#main-menu {
				width: auto;
				float: left;
				clear: both;
				//margin-top: 5px;
				font-size: 1.1em;
				//line-height: 1em;
				margin-top: .5em;
				margin-bottom: .2em;
				
				#main-menu-links {
					li {
						margin-right: 2em;
						margin-bottom: .8em;
					}
				}
			}
		}
	}
}

@media all and (max-width: 460px) {
	/* ----------------- Menu on Small Resolutions ---------- */
	/*
	a#menu-toggle {
		display:block;
	}

	#main-menu-links {
		display: none;
		height: auto;
	}
	*/
}

@media all and (min-width: 461px) {
 /* ------------------ Header and Menus ------------------- */

	#logo {}
	#name-and-slogan {}
	#main-menu-links {
		//margin: 0 5px;
		//padding: 0;
		//text-align: center;
	}
	#main-menu-links li {
		/*
		float: left;
		margin-right: 5px;
		padding: 0;
		display: inline-block;
		width: 32.75%;
		*/
	}
	#main-menu-links li:nth-child(3n) {
		/*margin-right: -5px;*/
	}
	#main-menu-links a {
		/*
		float: none;
		display: block;
		border-radius: 8px;
		margin-bottom: 5px;
		padding: 0.9em 5px;
		*/
	}
}

@media all and (min-width: 768px) {

	#logo {}
	#logo_subtitle {}
	#main-menu-links {
		/*
		font-size: 0.929em;
		margin: 0;
		padding: 0 15px;
		*/
	}
	#main-menu-links li {
		/*
		float: left;
		list-style: none;
		//padding: 0 1px;
		//margin: 0 1px;
		width: auto;
		*/
	}
	#main-menu-links a {
		/*
		float: left;
		padding: 0.7em 0.8em;
		margin-bottom: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		*/
	}
}