/* Modules overrides */

/* imagefield_crop */
.imagefield-crop-widget {
	.imagefield-crop-preview {
		.jcrop-preview-wrapper {
			margin-bottom: 20px;
		}
	}
}

.jcrop-preview-wrapper {
	margin-bottom: 10px !important;
}

.imagefield-crop-cropbox {
	margin-top: 10px;
}

/* Edit link in link-wrapper */
.link-wrapper {
	a.edit_node {
		float: left;
	}
}