/* ------------------- Reset Styles ----------------------- */

* { 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
  //font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

html,
body,
#page	{
	height: 100%;
}

caption {
	text-align: left; /* LTR */
	font-weight: normal;
}
blockquote {
	background: #f7f7f7;
	border-left: 1px solid #bbb;
	font-style: italic;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
}
blockquote:before {
	color: #bbb;
	content: "\201C";
	font-size: 3em;
	line-height: 0.1em;
	margin-right: 0.2em;
	vertical-align: -.4em;
}
blockquote:after {
	color: #bbb;
	content: "\201D";
	font-size: 3em;
	line-height: 0.1em;
	vertical-align: -.45em;
}
blockquote > p:first-child {
	display: inline;
}
a.feed-icon {
	display: inline-block;
	padding: 15px 0 0 0;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
}

/* ------------------- Table Styles ----------------------- */

table {
	border: 0;
	border-spacing: 0;
	font-size: 0.857em;
	margin: 10px 0;
	width: 100%;
}
table table {
	font-size: 1em;
}
#footer-wrapper table {
	font-size: 1em;
}
table tr th {
	background: #757575;
	background: rgba(0, 0, 0, 0.51);
	border-bottom-style: none;
}
table tr th,
table tr th a,
table tr th a:hover {
	color: #fff;
	font-weight: bold;
}
table tbody tr th {
	vertical-align: top;
}
tr td,
tr th {
	padding: 4px 9px;
	border: 1px solid #fff;
	text-align: left; /* LTR */
}
#footer-wrapper tr td,
#footer-wrapper tr th {
	border-color: #555;
	border-color: rgba(255, 255, 255, 0.18);
}
tr.odd {
	background: #e4e4e4;
	background: rgba(0, 0, 0, 0.105);
}
tr,
tr.even {
	background: #efefef;
	background: rgba(0, 0, 0, 0.063);
}
table ul.links {
	margin: 0;
	padding: 0;
	font-size: 1em;
}
table ul.links li {
	padding: 0 1em 0 0;
}

/* ------------------- Header ----------------------------- */
#skip-link {
	left: 50%;
	margin-left: -5.25em;
	margin-top: 0;
	position: absolute;
	width: auto;
	z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
	background: #444;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	display: block;
	font-size: 0.94em;
	line-height: 1.7;
	padding: 1px 10px 2px 10px;
	text-decoration: none;
	border-radius: 0 0 10px 10px;
}
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
	outline: 0;
}

/* ------------------- Poll ------------------------------- */

.node .poll {
	margin: 2em 0;
}
.node .poll #edit-choice {
	margin: 0 0 1.5em;
}
.poll .vote-form {
	text-align: left; /* LTR */
	margin: 0;
}
.poll .percent {
	font-size: 0.857em;
	font-style: italic;
	margin-bottom: 3em;
	margin-top: -3.2em;
	float: right; /* LTR */
	text-align: right; /* LTR */
}
.poll .choice-title {
	clear: right; /* LTR */
}
.poll .total {
	font-size: 0.929em;
	font-style: italic;
	text-align: right; /* LTR */
	clear: both;
}
.node .poll {
	margin: 1.8em 0 0;
}
.node .poll .text {
	margin-right: 6.75em;
}
.node .poll #edit-choice {
	margin: 0 0 1.2em;
}
.poll .bar .foreground {
	background-color: #666;
}
#footer-wrapper .poll .bar {
	background-color: #666;
}
#footer-wrapper .poll .bar .foreground {
	background-color: #ddd;
}

/* ------------------- Book ------------------------------- */
.book-navigation .menu {
	border-top: 1px solid #d6d6d6;
}
.book-navigation .book-pager {
	border-bottom: 1px solid #d6d6d6;
	border-top: 1px solid #d6d6d6;
	margin: 0;
}

/* ------------------- Misc Fixes ------------------------- */
.element-invisible {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	left: 0;
}

/* -------------------------------------------------------- */

del {
	text-decoration: line-through;
}
tr.odd {
	background-color: #dddddd;
}
img {
	outline: 0;
}

/**
 * The generic monospace font family is listed before Courier new to avoid a
 * a bug in font-size rendering:
 * http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing
 */
code,
pre,
kbd,
samp,
var {
	padding: 0 0.4em;
	font-size: 0.77em;
	font-family: Menlo, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New";
}
code {
	background-color: #f2f2f2;
	background-color: rgba(40, 40, 0, 0.06);
}
pre code,
pre kbd,
pre samp,
pre var,
kbd kbd,
kbd samp,
code var {
	font-size: 100%;
	background-color: transparent;
}
pre code,
pre samp,
pre var {
	padding: 0;
}
.description code {
	font-size: 1em;
}
kbd {
	background-color: #f2f2f2;
	border: 1px outset #575757;
	margin: 0 3px;
	color: #666;
	display: inline-block;
	padding: 0 6px;
	border-radius: 5px;
}
pre {
	background-color: #f2f2f2;
	background-color: rgba(40, 40, 0, 0.06);
	margin: 10px 0;
	overflow: hidden;
	padding: 15px;
	white-space: pre-wrap;
}