/* ------------------- Search Form ------------------------ */

#block-search-form {
	padding-bottom: 7px;
}
#block-search-form .content {
	margin-top: 0;
}
#search-form input[type="search"],
#block-search-form input[type="search"] {
	box-sizing: border-box;
	padding: 4px;
	-webkit-appearance: textfield;
}
#search-form input[type="search"]::-webkit-search-decoration,
#block-search-form input[type="search"]::-webkit-search-decoration {
	display: none;
}
#search-form input#edit-keys,
#block-search-form .form-item-search-block-form input {
	float: left; /* LTR */
	font-size: 1em;
	margin-right: 5px;
	width: 9em;
}
#search-block-form input.form-submit,
#search-form input.form-submit {
	margin-left: 0;
	margin-right: 0;
	height: 25px;
	width: 34px;
	padding: 0;
	cursor: pointer;
	text-indent: -9999px;
	border-color: #e4e4e4 #d2d2d2 #b4b4b4;
	background: url(../img/search-button.png) no-repeat center top;
	overflow: hidden;
}
#search-block-form input.form-submit:hover,
#search-block-form input.form-submit:focus,
#search-form input.form-submit:hover,
#search-form input.form-submit:focus {
	background-position: center bottom;
}
#search-form .form-item-keys label {
	display: block;
}

/* ------------------- Search Results --------------------- */
ol.search-results {
	padding-left: 0;
}
.search-results li {
	border-bottom: 1px solid #d3d7d9;
	padding-bottom: 0.4285em;
	margin-bottom: 0.5em;
}
.search-results li:last-child {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 1em;
}
.search-results .search-snippet-info {
	padding-left: 0;
}