/* Sidebar styles */

// Mobile: Text-only version
#sidebar-right {
	.content {
		.view-latest-images-and-videos {
			.view-content {
				.latest-imagevideo {
					.post_date_medium { display: none; }
					.post_date_gfx { display: none; }
					
					border: none;
					a {
						img { display: none; }
					}
					h5.latest_title {
						display: block;
						float: left;
						clear: left;
						
						font-size: .9em;
						line-height: 1.35em;
						font-weight: normal;
						margin-top: 0;
						a { color: rgb(51, 51, 51); }
					}
				}
			}
		}
	}
}

@media all and (min-width: 768px) {
// Tablet: 1up version
	// To do...
	#sidebar-right {
		.content {
			.view-latest-images-and-videos {
				.view-content {
					.latest-imagevideo {
						display: block;
						float: left;
						clear: left;
						
						border-bottom: 1px solid #d3d7d9;
						margin: 1em 0 1em 0;
						
						div { display: block; }
						
						.post_date_medium {
							display: block;
							font-size: .7em;
							margin: .5em 0 0 0;
							&:after {
								content: ':';
							}
						}
						.post_date_gfx { display: none; }
						
						
						a {
							img { display: block; max-width: 100%; }
						}
						h5.latest_title {
							margin: 0 0 .7em 0;
							a {}
						}
					}
				}
			}
		}
	}
}

@media all and (min-width: 980px) {
// Full: 2up side-by-side green hover version
	
	#sidebar-right {
		.content {		
			> h2 {}
		
			.view-latest-images-and-videos {
				// Variables
				$baseWidth: 118px;
				$baseHeight: 118px;
				$changeWidth: 28px;
	
				$imageWidthOrig: 146px;
				$imageHeightOrig: 118px;

				.view-content {
					position: relative;
					display: block;
				
					.latest-imagevideo {
						.post_date_medium { display: none; }
						.post_date_gfx { display: none; }
						
						position: relative;
						display: inline-block;
						//display: block;
						float: left;
						margin: 0 0 4px 0;
						padding: 0;
						border: 1px solid #d3d7d9;
					
						width: $baseWidth;
						height: $baseHeight;
						overflow: hidden;
					
						-webkit-transition: width 50ms ease-out;
						transition: width  50ms ease-out;
					
						a {
							overflow: hidden;
							width: auto;
							img {
								display: block;
						
								width: $imageWidthOrig !important;
								min-width: $imageWidthOrig !important;
								min-height: $imageHeightOrig !important;
								height: $imageHeightOrig !important;
						
								margin: 0;
								padding: 0;
								//display: block;
						
								-moz-transition: none;
								-webkit-transition: none;
								-o-transition: color 0 ease-in;
								transition: none;
							}
						}
					
						&.master {
							//border-color: green;
							width: $baseWidth + $changeWidth;
							height: $baseHeight;

							div.views-field,
							div.views-field h5 {
								//display: block;
								opacity: 1;
							}
							div.views-field h5 { padding-top: 0; }
						}
						&.neighbour {
							//border-color: red;
							width: $baseWidth - $changeWidth;
							height: $baseHeight;
												
							div.views-field,
							div.views-field h5 {
								//display: none;
								opacity: 0;
							}
							div.views-field h5 { padding-top: .5em; } // Must match other
						}
					
						&.views-row-odd {
							// Images on the left
							margin-right: 4px;
							clear: left;
							img {
								position: absolute;
								left: 0;
							}
						}
					
						&.views-row-even {
							// Images on the right
							clear: right;
							img {
								position: absolute;
								right: 0;
							}
						}

						/*
						&> span.views-field {
							// Image container						
							position: relative;
							display: block;
							width: auto;
							height: auto;
							a {
								display: block;
								//width: $baseWidth;
								//height: $baseHeight;
								width: 100%;
								height: $baseHeight;
								overflow: hidden;
							}
							//a:hover { width: 100px; }
						
						}
						*/
					
						div.views-field {
							// Title container
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							margin: 0;
							//padding: 1em;
							padding: 0;
						
							//background-color: rgba(255, 255, 255, 0.8); // White
							background-color: rgba(166, 206, 57, 0.9); // Green
							//background-color: rgba(0, 173, 238, 0.8); // Blue
						
							-webkit-transition: all 200ms ease;
							transition: all 200ms ease;
						
							-webkit-transition-delay: 0 !important;
							transition-delay: 0 !important;
						
							h5 {
								position: relative;
								font-weight: bold;
								margin: 0;
								//padding: 1em;
								padding-top: .5em; // Must match other
								font-size: 1.0em;
								line-height: 1.3;
							
								display: block;
								width: 100%;
								height: 100%;
							
								a {
									color: #fff;
									text-decoration: none;
									display: block;
									padding: 1em;
									width: 100%;
									height: 100%;
								}
							
								-webkit-transition: all 150ms ease;
								transition: all 150ms ease;
						
								-webkit-transition-delay: 100ms !important;
								transition-delay: 100ms !important;
							
								opacity: 0;
							}
							//display: none;
							opacity: 0;
						}
					
					}
				
				}
			}
		}
	}
}
