/* Slideshow styles */

.block {
	
	.slideshow, 
	ul.slideshow_pager {
		position: relative;
		z-index: 1;
		background: #231f20;
	}
	
	.slideshow,
	.slideshow .slide,
	.slideshow .slide img {
		margin: 0;
		padding: 0;
		line-height: 0;
	}
	
	.slideshow {
		list-style: none;
		max-height: 301px;
		//height: 301px;
		overflow: hidden;
	
		.slide {
			padding: 0;
			margin: 0;
			
			overflow: hidden;
			
			.slide_image {
				margin: 0;
				width: 100%;
				height: auto;
				//height: 300px;
				
				overflow: hidden;
				
				img {
					max-width: 100%;
					height: auto;
				}
			}
			
			a.slide_link {
				display: block;
				z-index: 2;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				
				// Hide links for content type: slideshow
				&.contenttype_slideshow {
					pointer-events: none;
					cursor: default !important;
				}
				
			   -moz-transition: all .3s ease-in;
			     -o-transition: all .3s ease-in;
			-webkit-transition: all .3s ease-in;
			
				background-color: transparent;
				&.hover { background-color:rgba(0,0,0,0.5); }
			}
			
			.slide_text {
				z-index: 3;
				// Container
				position: absolute;
				padding: 0;
				margin: 0 7% 0 0;
				left: 7%;
				bottom: 7%;
			
				h2.slide_title, 
				h2.slide_title a, 
				p.slide_body, 
				p.slide_body a {
					padding: 0;
					color: #fff;
					text-decoration: none;
				
					$slideTextShadowAlpha: .2;
					-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,$slideTextShadowAlpha));
					-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,$slideTextShadowAlpha));
					-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,$slideTextShadowAlpha));
					-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,$slideTextShadowAlpha));
					filter: drop-shadow(0 1px 2px rgba(0,0,0,$slideTextShadowAlpha));
				}
				
				p.slide_body {
					display: none;
					ul, ol { display: none; }
					@media all and (min-width: 640px) {
						display: block;
					}
				}
			
				h2.slide_title {
					margin: 0 0 .3em 0;
					font-size: 2.4em;
					line-height: 1em;
					font-weight: normal;
					text-transform: uppercase;	
					cursor: pointer;
					
					// Initially hide then show via JS after event cycle-initialized has fired
					&.hidden { display: none; }
				}
				
				// Hide one of the h2 slide titles depending on content type
				// Default hide both
				//h2.slide_title { display: none; }
				// If content type: article
					&.contenttype_article h2.slide_title.image_title { display: none; }
				// If content type: slideshow
					&.contenttype_slideshow h2.slide_title.node_title { display: none; }
					// Also disable link
					&.contenttype_slideshow h2.slide_title a {
						pointer-events: none;
						cursor: default !important;
					}
				// End ifs
				
				p.slide_body {
					margin: 0 0 1em 0;
					font-size: 1em;
					line-height: 1em;
					max-width: 530px;
				
					// Background box
					//background-color:rgba(0,0,0,0.3);
					//padding: .6em .6em .7em .8em;
					//display: inline-block; // Auto width
				}
			}
		}	
	}

	ul.slideshow_pager {
		list-style: none;
		overflow: hidden;
		margin: 0;
		padding: 0;
		z-index: 3;
						
		li {
			display: block;
			float: left;
			margin: 0;
			padding: 0;
			$slideshowPagerBulletSize: 10px;
		
			&:first-child {
				margin-left: 40px;
			}

			a {
				display: block;
				float: left;
				width: $slideshowPagerBulletSize;
				height: $slideshowPagerBulletSize;
				text-indent: -999em;
				background: #494C48;
				border-radius: $slideshowPagerBulletSize; // must be the same as width and height
				-moz-border-radius: $slideshowPagerBulletSize;
				-webkit-border-radius: $slideshowPagerBulletSize;
				//box-shadow: 0 0 1px 1px #707173; /* border color */
				//margin-right: 10px;
				margin: 4px;
				padding: 0px;
			}

			a:hover {
				background: #717B71;
			}
		}

		li.activeSlide a {
		//li.cycle-pager-active a {
			background: #717B71; /* color when active */
		}
	}
	
	.slideshow_progress {
		position: relative;
		height: 2px;
		width: 0px;
		background: #c00;
		display: none;
	}
}