/*	Footer social icons 
	from http://codepen.io/JbvGaming/pen/JEpBc
	by www.joevengels.de
*/

.socialicons {
	$circleSize: 35px;
	
	float: left;

	// Wrapper
	a.icon-button {
		//background-color: yellow;
		
		border-radius: $circleSize;
		cursor: pointer;
		display: inline-block;
		//font-size: 1.3rem;
		font-size: 18px;
		width: $circleSize;
		height: $circleSize;
		line-height: $circleSize;
		margin: 0 5px;
		position: relative;
		text-align: center;
		
		-webkit-user-select: none;
			 -moz-user-select: none;
				-ms-user-select: none;
						user-select: none;
		
		// Circle
		display: inline-block;
		width: $circleSize;
		height: $circleSize;
		border-radius: $circleSize;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;

		// Icons
		i {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			background: none;
			color: white;
			width: $circleSize;
			height: $circleSize;
			line-height: $circleSize;
			
			-webkit-transition: all 0.3s;
				 -moz-transition: all 0.3s;
					 -o-transition: all 0.3s;
							transition: all 0.3s;
			
			// Hide text description
			span.hidden {
				//text-indent: -9999px;
				//text-indent: 100%;
				//white-space: nowrap;
				//overflow: hidden;
				display: none;
				//visibility: hidden;
			}
		}
		
		// Colors
		$twitterColor: #4099ff;
		$facebookColor: #3B5998;
		$tumblrColor: #34526f;
		$googleColor: #db5a3c;
		$instagramColor: #517fa4;
		$youtubeColor: #bb0000;
		$pinterestColor: #cb2027;
		
		.fa-twitter { color: $twitterColor; }
		.fa-facebook { color: $facebookColor; }
		.fa-tumblr { color: $tumblrColor; }
		.fa-google-plus { color: $googleColor; }
		.fa-instagram { color: $instagramColor; }
		.fa-youtube { color: $youtubeColor; }
		.fa-pinterest { color: $pinterestColor; }
		
		&:hover {
			&.twitter { background-color: $twitterColor; }
			&.facebook { background-color: $facebookColor; }
			&.google-plus { background-color: $tumblrColor; }
			&.tumblr { background-color: $googleColor; }
			&.instagram { background-color: $instagramColor; }
			&.youtube { background-color: $youtubeColor; }
			&.pinterest { background-color: $pinterestColor; }
			
			i { color: white; }
		}

	}

} //End .socialicons

/* Hide unwanted */
.socialicons {
	a.icon-button {
		&.twitter, 
		&.tumblr, 
		&.instagram, 
		&.pinterest {
			display: none;
		}
	}
}

/*
@media all and (max-width: 680px) {
	.socialicons {
		.icon-button {
			border-radius: 1.6rem;
			font-size: 0.8rem;
			height: 1.6rem;
			line-height: 1.6rem;
			width: 1.6rem;

			&:hover span {
				width: 1.6rem;
				height: 1.6rem;
				border-radius: 1.6rem;
				margin: -0.8rem;
			}

			// Icons
			i {
				height: 1.6rem;
				line-height: 1.6rem;
				width: 1.6rem;
			}
			
			//body { adding: 10px; }
			
			.pinterest {
			 	//display: none; 
			}
	
		}
	} //End .socialicons

} //End @media
*/

