/* ------------------- System Tabs ------------------------ */

.tabs {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 20px;
}
.tabs ul.primary {
	padding: 0 3px;
	margin: 0;
	overflow: hidden;
	border: none;
	background: transparent url(../img/tabs-border.png) repeat-x left bottom;
}
.tabs ul.primary li {
	display: block;
	float: left; /* LTR */
	vertical-align: bottom;
	margin: 0 5px 0 0; /* LTR */
}
.tabs ul.primary li.active a {
	border-bottom: 1px solid #ffffff;
}
.tabs ul.primary li a {
	color: #000;
	background-color: #ededed;
	height: 1.8em;
	line-height: 1.9;
	display: block;
	font-size: 0.929em;
	float: left; /* not LTR */
	padding: 0 10px 3px;
	margin: 0;
	text-shadow: 0 1px 0 #fff;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.tabs ul.primary li.active a {
	background-color: #ffffff;
}
.tabs ul.secondary {
	border-bottom: none;
	padding: 0.5em 0;
}
.tabs ul.secondary li {
	display: block;
	float: left; /* LTR */
}
.tabs ul.secondary li:last-child {
	border-right: none; /* LTR */
}
.tabs ul.secondary li:first-child {
	padding-left: 0; /* LTR */
}
.tabs ul.secondary li a {
	padding: 0.25em 0.5em;
}
.tabs ul.secondary li a.active {
	background: #f2f2f2;
	border-bottom: none;
	border-radius: 5px;
}
ul.action-links {
	list-style: none;
	margin: 5px;
	padding: 0.5em 1em;
}
ul.action-links li {
	display: inline-block;
	margin-left: 10px;
}
ul.action-links li a {
	padding-left: 15px;
	background: url(../img/add.png) no-repeat left center;
	margin: 0 10px 0 0;
}

/* ------------------- Messages --------------------------- */

#messages {
	padding: 20px 0 5px 0;
	margin: 0 auto;
}
.featured #messages {
	//background: #f0f0f0;
	//background: rgba(30, 50, 10, 0.08);
}
div.messages {
	//margin: 8px 15px;
}

/* ------------------- Breadcrumbs ------------------------ */

.breadcrumb {
	font-size: 0.929em;
	padding: 10px;
}

.breadcrumb a {
	padding: 12px 0;
}

/* ------------------- User Profile ----------------------- */

.profile .user-picture {
	float: none;
}

/* ------------------- Password Meter --------------------- */

.confirm-parent,
.password-parent {
	width: 34em;
}
.password-parent,
div.form-item div.password-suggestions {
	position: relative;
}
.password-strength-text,
.password-strength-title,
div.password-confirm {
	font-size: 0.82em;
}
.password-strength-text {
	margin-top: 0.2em;
}
div.password-confirm {
	margin-top: 2.2em;
	width: 20.73em;
}

/* ------------------- Other Overrides -------------------- */

div.password-suggestions {
	border: 0;
}
.ui-widget-overlay {
	background: #222222;
	opacity: 0.7;
}
div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
	padding: 1em;
}
#forum .name {
	font-size: 1.083em;
}
#forum .description {
	font-size: 1em;
}

/* ------------------- Shortcut Links --------------------- */

.shortcut-wrapper {
	margin: 2.2em 0 1.1em 0; /* Same as usual h1#page-title margin. */
}
.shortcut-wrapper h1#page-title {
	float: left; /* LTR */
	margin: 0;
}
div.add-or-remove-shortcuts {
	padding-top: 0.9em;
}
.overlay div.add-or-remove-shortcuts {
	padding-top: 0.8em;
}

/* ------------------- Admin-specific Theming ------------- */

.page-admin #content img {
	margin-right: 15px; /* LTR */
}
.page-admin #content .simpletest-image img {
	margin: 0;
}
.page-admin-structure-block-demo .block-region {
	background: #ffff66;
	border: 1px dotted #9f9e00;
	color: #000;
	font: 90% "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	margin: 5px;
	padding: 5px;
	text-align: center;
	text-shadow: none;
}
.page-admin-structure-block-demo #featured .block-region {
	font-size: 0.55em;
}
.page-admin #admin-dblog img {
	margin: 0 5px;
}
/* Fix spacing when Seven is used in the overlay. */
#system-theme-settings fieldset {
	padding: 0;
}
#system-theme-settings fieldset .fieldset-legend {
	margin-top: 0;
}
/* Configuration. */
div.admin .right,
div.admin .left {
	width: 49%;
	margin: 0;
}
div.admin-panel {
	background: #fbfbfb;
	border: 1px solid #ccc;
	margin: 10px 0;
	padding: 0 5px 5px;
}
div.admin-panel h3 {
	margin: 16px 7px;
}
div.admin-panel dt {
	border-top: 1px solid #ccc;
	padding: 7px 0 0;
}
div.admin-panel dd {
	margin: 0 0 10px;
}
div.admin-panel .description {
	margin: 0 0 14px 7px;
}

/* ------------------- Overlay Layout Styles -------------- */

.overlay #main,
.overlay #content {
	width: auto;
	float: none;
}
.overlay #page {
	padding: 0 2em;
}
.overlay .region-page-top,
.overlay #header,
.overlay #page-title,
.overlay #featured,
.overlay #footer-wrapper {
	display: none;
}
.overlay-processed .field-type-image {
	display: block;
	float: none;
}
.overlay #messages {
	width: auto;
}