/* Tags */

$tagColorNormal: #ccc;
$tagColorHover: #0089e0;
$tagColorShadow: #919191;

//.field-name-field-tags {
.field-type-taxonomy-term-reference {
	margin: .5em 0 1.5em -8px;
	padding:0;
	
	//position:absolute;
	//right:24px;
	//bottom:-12px;
	
	width: 100%;
	float: none;
	clear: both;

	.field-label { display: none; }
	
	ul.links {
		margin: 0;
		padding: 0;
		
		list-style: none;

		li, 
		li a {
			float:left;
			height:24px;
			position:relative;
			font-size:11px;
			line-height:24px;
		}

		li {
			
			a {
				font-size: 0.9em;
				
				margin-left:20px;
				padding:0 10px 0 12px;
				background:$tagColorNormal;
				color:#fff;
				text-decoration:none;
				-moz-border-radius-bottomright:4px;
				-webkit-border-bottom-right-radius:4px;	
				border-bottom-right-radius:4px;
				-moz-border-radius-topright:4px;
				-webkit-border-top-right-radius:4px;	
				border-top-right-radius:4px;	
			}

			a:before {
				content:"";
				float:left;
				position:absolute;
				top:0;
				left:-12px;
				width:0;
				height:0;
				border-color:transparent $tagColorNormal transparent transparent;
				border-style:solid;
				border-width:12px 12px 12px 0;		
			}

			a:after {
				content:"";
				position:absolute;
				top:10px;
				left:0;
				float:left;
				width:4px;
				height:4px;
				-moz-border-radius:2px;
				-webkit-border-radius:2px;
				border-radius:2px;
				background:#fff;
				-moz-box-shadow:-1px -1px 2px $tagColorShadow;
				-webkit-box-shadow:-1px -1px 2px $tagColorShadow;
				box-shadow:-1px -1px 2px $tagColorShadow;
			}

			a:hover { background:$tagColorHover; }	

			a:hover:before { border-color:transparent $tagColorHover transparent transparent; }
		}
	}
}
