
/* ---------- General Layout ---------- */

body,
input,
textarea,
select {
	color: #000;
	background: none;
}
body.sidebar-right,
body {
	width: 640px;
}
#sidebar-right,
.navigation,
#toolbar,
#footer-wrapper,
.tabs,
.add-or-remove-shortcuts {
	display: none;
}
#content {
	width: 100%;
}

/* ---------- Node Pages ---------- */

#comments .title,
#comments form,
.comment_forbidden {
	display: none;
}
